// IGNORE THIS FILE
doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, user-scalable=no')
  link(rel='stylesheet' href='css/gauge.css')
#caloriegauge.center-screen(style="width:400px; height:320px")
// Scripts
script(src="gauge-meter/raphael-2.1.4.min.js")
script(src="gauge-meter/justgage.js")
script(src="scripts/gauge-config.js")
